// *** colors ***

// day colors
$color-blue      : #2A2AFF;
$color-yellow		 : #FFB32E;
$color-purple    : #AAAAFF;
$color-green     : #103714;

// night colors
$color-lime      : #C8EE00;
$color-darkgreen : #535700;
$color-pink			 : #F7C6ED;
$color-darkblue  : #004CD9;

// grayscale colors
$color-white     : #ffffff;
$color-lightgray : lightgray;
$color-gray      : #9B9B9B;
$color-black     : #000000;

// other colors
$color-daintree     : #02253c;
$color-congress-blue: #024680;
$color-chathams-blue: #12527D;
$color-denim        : #0e76bc;
$color-cyan         : #0fcfff;
$color-regent-blue  : #a4cbe6;
$color-tree-poppy   : #fe9f23;
$color-festival     : #f9f56d;
$color-alabaster	: #F7F7F7;
$color-soft-black	: #231F20;
$color-nice-blue	: #075EFF;


// *** header ***
$height-header: 75px;
$height-header-sm: 7vh;